<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>날씨 정보 다운로드</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>날씨 정보</h1>
    <form method="post" action="{{ url_for('weather_list') }}">
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>지역</th>
                    <th class="check-column">선택</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>강원특별자치도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="0"></td>
                </tr>
                <tr> 
                    <td>2</td>
                    <td>경기도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="1"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>경상남도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="2"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>경상북도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="3"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>광주광역시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="4"></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>대구광역시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="5"></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>대전광역시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="6"></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>부산광역시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="7"></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>서울특별시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="8"></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>세종특별자치시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="9"></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>울산광역시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="10"></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>인천광역시</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="11"></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>전라남도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="12"></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>제주특별자치도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="13"></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>충청남도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="14"></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>충청북도</td>
                    <td class="check-column"><input type="checkbox" name="loc" class="loc" value="15"></td>
                </tr>
            </tbody>
        </table>
        <div>
        전체선택<input type="checkbox" onclick="checkAll(this)" >
        </div>
        <button type="submit">xlsx 파일 생성</button>
    </form>

    <script type="text/javascript">
        function checkAll(el){
            const checkBoxes  = document.querySelectorAll('.loc');
            checkBoxes.forEach((row)=>{
                row.checked = el.checked;
            })
        }
    </script>
</body>
</html>
